[Unit]
Description=Morpheus service

[Service]
Type=simple
ExecStart=%h/bin/morpheus -conf .alarms.json
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s SIGINT $MAINPID
WorkingDirectory=%h
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=morpheus
Restart=always

[Install]
WantedBy=default.target
